# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- SQL
- Java
- Scala

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. Scipy
3. Pandas
4. Matplotlib 
5. TensorFlow

|Data Science Tools|
|--|
|Jupyter|
|R Studio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Faris